/*
 * Получаем нужные нам шрифты напрямую с gstatic без импорта ( Ибо не по правславному всё это )
 */

 @font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-display: fallback;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * Изменяем Scrollbar
 */

 ::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    background-color: var(--table-line);
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: var(--table-line);
    background-color: var(--table-line);
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    background-color: var(--sidebar-color);
}

/*
 * Nav блоки
 */
.navbar {
    top: 0;
    left: 0;
    min-width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 56px;
    max-height: 56px;
    background-color: var(--navbar-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}
.nav-toggle:active,
.nav-toggle:focus,
.nav-toggle:hover {
    outline: 0;
    border-bottom: none;
}
.nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: var(--item-color);
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: var(--item-color);
    transition: all .2s ease-out
}
.nav-toggle i::after,
.nav-toggle i::before {
    content: '';
    width: 25px;
    height: 2px;
    background: var(--item-color);
    position: absolute;
    left: 0;
    transition: all .2s ease-out
}
.nav-toggle i::before {
    top: -7px
}
.nav-toggle i::after {
    bottom: -7px
}
.nav-toggle:hover i::before {
    top: -10px
}
.nav-toggle:hover i::after {
    bottom: -10px
}
.nav-toggle {
    position: absolute;
    left: 8px;
    top: 0px;
    padding: 13px 0 0 0;
    display: block;
    margin: 0 auto;
    height: 55px;
    width: 44px;
    z-index: 2001;
    border-bottom: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-link {
    display: block;
}
.a-type:hover {
    background-color: var(--hover);
    cursor: pointer;
    color: var(--span-color);
}

.a-type a:hover {
    background-color: var(--hover);
    cursor: pointer;
    color: var(--span-color);
}

.footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--default-text-color);
    font-size: 12px;
    font-weight: var(--font-weight-2);
}

.logo-area {
    max-height: 59px;
    max-width: 270px;
    z-index: 99;
}
.logo-area img {
    position: relative;
    left: 48px;
    max-width: 190px;
    max-height: 40px;
}
.right-area {
    display: inline-block;
    position: fixed;
    float: right;
    right: 6px;
}
.right-area ul {
    padding-left: 20px;
}
.right-area li {
    float: right;
    padding: 10px;
}

.right-area svg, .right-area img {
    margin-bottom: 2px;
    height: 15px;

}.right-area .subsection svg, .right-area .subsection img {
    margin-bottom: 2px;
    height: 18px;
}

.navbar-icon svg, .navbar-icon img {
    filter: invert(var(--svg));
}

.search i {
    margin-top: 1.9px;
    font-size: 1.35em;
    color: var(--default-text-color);
}

.search_form {
    width: 270px;
    padding: 16px;
}

.search_form .input-form {
    margin-bottom: 15px;
}

.section .subsection {
    position: absolute;
    right: 10px;
    top: 50px;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: var(--sidebar-color);
    list-style: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    visibility: hidden;
    min-width: 150px;
    text-align: left;
    margin: 0;
    opacity: 0;
    padding: 0;
}
.section:hover .subsection,
.sh:hover .subsection {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.section .subsection li {
    width: 100%;
    border-bottom: 1px solid var(--hover);
    padding: 4px 10px;
}
.section .subsection a {
    color: var(--default-text-color);
    display: inline-block;
    line-height: 1.2em;
    padding: 5px 0;
    text-decoration: none;
}
.main-sidebar {
    background: var(--sidebar-color);
    box-shadow: 1px 0px 20px rgba(255, 255, 255, 0.2);
}
.sidebar-menu li:hover {
    color: var(--default-text-color);
    background-color: var(--hover);
}
.sidebar-menu>li>a {
    color: var(--default-text-color);
}
.table-active {
    color: var(--default-text-color);
    background-color: var(--hover);
}

.user-details span a {
    color: var(--default-text-color);
}
.user-details span a:hover {
    color: var(--hover);
}

.user-details span {
    color: #111111;
}
.user-rank>i {
    color: #111111;
}
.treeview-menu>li>a {
    color: #111111
}

.select-panel-pages {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
}

.select-panel-table {
    display: inline-block;
    margin-left: 25px;
}

.select-panel select {
    color: #ffffff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background: transparent;
    border-image: none;
    outline-color: transparent;
    box-shadow: none;
}

.select-panel select option {
    font-weight: var(--font-weight-2);
    font-size: 13px;
    color: var(--default-text-color);
    background: var(--sidebar-color);
}

.button{
    font-weight: var(--font-weight-2);
    font-size: 12px;
    margin-top: 10px;
    padding-left: 14px;
    padding-right: 14px;
    color: #FFF;
    background-color: var(--span-color);
    border: none;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    user-select: none;
    outline: none;
    float: right;
}

.input-form input {
    font-size: 15px;
    font-weight: var(--font-weight-2);
    color: var(--default-text-color);
    background-color: inherit;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    border-bottom: 2px solid var(--table-line);
    width: 100%;
}

.input-form .input_text {
    color: var(--top-text-color);
    font-size: 12px;
    font-weight: var(--font-weight-2);
}

.input-form input:focus:not([readonly]) {
    border-bottom: 2px solid var(--span-color);
}

.input-form label {
    float: left;
    white-space: nowrap;
    width: 19%;
    margin-right: 20px;
}

.input-form select {
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    outline: none;
    color: var(--default-text-color);
    background-color: inherit;
    height: 24px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid var(--table-line);
    font-weight: var(--font-weight-2);
    font-size: 15px;
}

.input-form select:focus:not([readonly]) {
    border-bottom: 2px solid var(--span-color);
}

.input-form select option {
    border: none;
    outline: none;
    background-color: var(--sidebar-color);
    font-weight: var(--font-weight-2);
}

.badge img{
    filter: invert(var(--svg));
}

.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window .card {
    border: 1px solid var(--default-text-color);
    border-radius: 2px;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--sidebar-color);
}

.login_form{
    padding-left:18px;
    padding-right:18px;
    padding-bottom: 18px;
}

.no_steam{
    float: right;
    margin-bottom: 16px;
}

.login_form > .input-form{
    margin-bottom: 15px;
}
.modal-close {
    position: absolute;
    right: 15px;
    color: #aaa;
    text-align: center;
    width: 40px;
    text-decoration: none;
}

.modal-close img{
    width: 20px;
    height: 20px;
}

.modal-close:hover {
    color: var(--default-text-color);
}

.btn_form {
    margin-top: .375rem;
    margin-right: .375rem;
    margin-bottom: .375rem;
}
.btn {
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 6px 15px;
    outline: none;
    font-weight: 400;
    font-size: .81rem;
    background: var(--span-color);
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    word-wrap: break-word;
}
.sidebar-right {
    margin-top: 56px;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed ;
    width: 220px;
    z-index: 2;
    background: var(--sidebar-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.sidebar-right .user-sidebar-right-block {
    background: linear-gradient(45deg,var(--sidebar-gradient-2),var(--sidebar-gradient-1));
}

.sidebar-right .info {
    align-items: center;
    display: flex;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #111;
}

.sidebar-right .details {
    font-size: 14px;
    font-weight: 600;
}

.sidebar-right .details .admin_type {
    font-weight: 600;
    font-size: 14px;
}

.sidebar-right .details .admin_rights {
    font-weight: 600;
    font-size: 10px;
}

.card_info_block{
    display:none;
    background: var(--sidebar-color);
    height:180px;
    width:300px;
}

tr th a:hover .card_info_block{
    position: absolute;
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -200px;
}

.sidebar-offcanvas-desktop {
    display: none
}


.sidebar-menu .sidebar-icon {
    margin-right: 0;
    display: inline-block
}

.sidebar-menu .sidebar-icon img, .sidebar-menu .sidebar-icon svg {
    margin-left: 2px;
    height: 20px;
    filter: invert(var(--svg))
}

.sidebar-menu .sidebar-icon i {
    font-size: 1.52em;
    color: invert(var(--svg))
}

.sidebar-menu .item-name {
    position: absolute;
    top: 18px;
    left: 54px;
    display: inline-block
}

.sidebar-menu > li.active:after {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background: #222;
    position: absolute;
    right: 0;
    bottom: 0
}

.sidebar-menu {
    height: 100%;
    list-style: outside none none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap
}

.sidebar-menu > li > a {
    text-decoration: none;
    display: block;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    position: relative
}

.user-info {
    align-items: center;
    display: flex;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px
}

.user-sidebar-block {
    background: linear-gradient(45deg, var(--sidebar-gradient-1), var(--sidebar-gradient-2))
}

.user-info a img {
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
    border: 3px solid #fff
}

.user-info img {
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
    border: 3px solid #fff
}

.user-rank {
    align-items: center;
    display: flex;
    padding-left: 18px;
    padding-bottom: 10px;
    position: relative
}

.rank_img {
    text-align: center;
    width: 20%;
}
.user-rank-more {
    align-items: center;
    display: flex;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative
}

.user-rank img {
    max-width: 50px;
    max-height: 20px
}

.user-rank-more img {
    max-width: 50px;
    max-height: 20px
}

.user-details {
    font-size: 14px;
    font-weight: 600
}

.user-rank .icon-down {
    position: absolute;
    top: -2px;
    right: 8px
}

.user-rank .icon-down img, .user-rank .icon-down svg {
    width: 22px;
    height: 22px;
    filter: var(--svg)
}

.user-rank .icon-down i {
    font-size: 1.52em;
    color: #111;
}

.user-details span {
    display: table;
    margin-left: 10px;
    margin-bottom: 3px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 11px;
    text-decoration: none
}

.user-details span a {
    font-weight: 600;
    font-size: 13px;
    text-decoration: none
}

.user-details .user_name {
    font-weight: 600;
    font-size: 14px
}

.user-details .user_text {
    margin-bottom: 0px;
}

.user-details ._logout {
    position: absolute;
    top:12px;
    right: 15px;
    font-weight: 600;
    font-size: 14px
}

.rank-details {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: #111111;
}

.rank-mini-li > a {
    text-decoration: none
}

.main-sidebar {
    margin-top: 56px;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    width: 270px;
    z-index: 2;
    overflow-y:auto;
    padding-bottom: 58px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}
@media (max-width: 1025px) {

    .global-container {
        margin-left: 0
    }

    .sidebar-collapse .global-container {
        margin-left: 0px
    }

    .main-sidebar {
        margin-top: 56px;
        -webkit-transform: translate(-330px, 0);
        -ms-transform: translate(-330px, 0);
        -o-transform: translate(-330px, 0);
        transform: translate(-330px, 0)
    }

    .sidebar-open .swipe-area {
        -webkit-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -o-transform: translate(270px, 0);
        transform: translate(270px, 0)
    }

    .swipe-area {
        margin-top: 58px;
        top: 0;
        left: -12px;
        min-height: 100%;
        position: fixed;
        width: 30px;
        z-index: 2
    }

    .sidebar-open .swipe-area {
        -webkit-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -o-transform: translate(270px, 0);
        transform: translate(270px, 0)
    }

    .sidebar-open .main-sidebar {
        overflow-y: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@media (min-width: 1025px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-210px, 0);
        -ms-transform: translate(-210px, 0);
        -o-transform: translate(-210px, 0);
        transform: translate(-210px, 0)
    }

    .sidebar-collapse .user-rank img {
        max-width: 42px;
        max-height: 20px;
    }

    .sidebar-collapse .sidebar-menu {
        overflow: visible;
    }

    .sidebar-collapse .global-container {
        margin-left: 64px
    }

    .sidebar-collapse .user-details,
    .sidebar-collapse .icon-down,
    .sidebar-collapse .rank-details,
    .sidebar-collapse .user-rank-more{
        display: none;
    }

    .sidebar-collapse .sidebar-menu .sidebar-icon {
        margin-left: 211px;
    }

    .sidebar-collapse .user-rank {
        position: absolute;
        top: 60px;
        margin-left: 201px;
        padding-right: 10px;
        padding-bottom: 2px;
    }
    .sidebar-collapse .sidebar-menu .item-name {
        display: none;
    }

    .sidebar-collapse .user-rank > img {
        width: 42px;
        height: 18px;
    }

    .sidebar-collapse .user-info a img{
        position: absolute;
        top: 7px;
        margin-left: 140px;
        width: 45px;
        height: 45px;
    }

    .swipe-area {
        margin-top: 58px;
        top: 0;
        left: 260px;
        min-height: 100%;
        position: fixed;
        width: 27px;
        z-index: 2
    }

    .sidebar-collapse .swipe-area {
        -webkit-transform: translate(-207px, 0);
        -ms-transform: translate(-207px, 0);
        -o-transform: translate(-207px, 0);
        transform: translate(-207px, 0)
    }
}

.lng-dropdown {
    display: none
}

.treeview-menu {
    display: none;
    list-style: outside none none;
    margin: 0;
    width: 100%;
}


.user-rank > i {
    position: absolute;
    right: 21px;
    margin-top: 2px
}

.notification {
    position: relative;
}

.notification span {
    position: absolute;
    top: -5px;
    left: 13px;
    color: #fff;
    background: var(--span-color);
    border-radius: 100%;
    padding-top: 2px;
    width: 17px;
    height: 17px;
    font-size: 9px;
    text-align: center;
    display: none;
}

.main_notifications {
    padding-left: unset;
}

.main_notifications a {
    width: 100%;
}

.notifications-item .icon {
    font-size: 20px;
    color: var(--span-color);
}

.notifications-item .text {
    font-size: 12px;
}

