.badge {
    display: inline-block;
    padding: .35em .6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    fill: #ffffff;
    color: #ffffff;
    background-color: var(--span-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.badge a {
    fill: #ffffff;
    color: #ffffff;
}